<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/style.css">
	<h1> TRIGO Global Quality Solutions </h1>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
	<form class="border" method="POST">
		<label> Operator </label><br>
		<label for="ContractNo"> Contract </label>
		<input type="text" id="ContractNo" name="Contract" placeholder="Contract Number">
		<input type="text" id="Contract" name="ContractRev" placeholder="Contract Revision">
		<input type="text" id="WI" name="WIRev" placeholder="Work Instruction Revision">
		<input type="Submit" value="ADD" formaction="/add"><br>
		<select class="list" id="no" size=2 title="List of Contracts">
			{%for i in contractList%}
				<option>{{i}}</option>
			{%endfor%}
		</select>
		<input type="Submit" onclick="deleteContract()" value="DELETE"><br>
	</form>
	<form action="/partNo" class="border" method="POST">
		<label for="PartNumber">Part Number:</label>
        <input type="number" id="PartNumber" name="PartNo" value={{partNumber}}>
		<label for="SerialNumber">Container Serial#: </label>
        <input type="text" id="SerialNumber" name="SerialNo" value="{{serialNo}}">
        <label for="Quantity">Quantity: </label>
        <input type="number" id="Quantity" name="Qnty" value="{{quantity}}">
        <label for="Certification">Certified? </label>
        <input type="text" id="Certification" name="Crtfd" value="{{certified}}">
        <input type="Submit" class = "hidden" formaction="/serialNo"><br>
	</form>

    <br>
	<form enctype = "multipart/form-data" action = "/final" method = "POST">
		<h2> DEFECTS </h2>
		<p id="Rjct"></p>
		<h2> REWORK </h2>
		<p id="Rwrk"></p>

		<label>Inspected: </label>
		<input type="number" name="Insp" id="INSPECTEDVALUE" onkeyup='annotate()' value=0><br>
        <label>Rejected: </label>
        <input type="number" id="RejectedSample" name="Rejectvalue" value=0><br>
        <label>Reworked: </label>
        <input type="number" id="ReworkedSample" name="Reworkedvalue" value=0><br>
        <label>OK For Line: </label>
        <input type="number" id="OKFORLINE" value=0><br><br>

        <label>Notes:</label>
        <input type="text" name="note"><br>
		<input type="submit" value="Finished" onclick="sendImage()"><br>
		

		
		<input type="file" id="image_input" name="filename[]" value="UPLOAD" multiple="multiple" accept="image/jpg, image/jpeg, image/png"/>

	</form>

	<button onclick="uploadImages()">UPLOAD</button>
	<button onclick="uploadedImages()">CLICK TO CHECK</button>
	<output id="display_image"  class="imagedim"></output>

</body>
<script>
	var con=document.getElementById("no"),conSelectedValue;
	con.addEventListener("click",selectContract);

	function selectContract()
	{
		var x=document.getElementById("no").selectedIndex;
		const y=document.getElementsByTagName("option")[x].value;
		conSelectedValue=y;
	}
	function deleteContract()
	{
		console.log(conSelectedValue);
		$.ajax({
            type: "POST",
            url: "{{ url_for('delete') }}",
            data: {"name" : conSelectedValue},
        })
		alert("Contract Deleted");
	}
</script>
<script>
	var d = {{ defects | tojson | safe}}, description={{ defect_descriptions | tojson | safe}};
	var len = d.length

	let textd = "", textr = "", defect = "", rework = "", defectId = "", reworkId = "";
	let j = 0, rjctAndRwrkNumber = 1; 
	var rejectQuantity = 0, reworkQuantity = 0;
	for (let i = 0; i < d.length; i++) 
	{
		if (d[i] == '"' || d[i] == '[' || d[i] == ']' || d[i] == ' ')
		{
			continue;
		}
		else if(d[i] == ',' || d[i] >= len)
		{
			defectId = "defect"+rjctAndRwrkNumber.toString();
			reworkId = "rework"+rjctAndRwrkNumber.toString();
			defect += "d";
			rework += "r";
			textd += "<input type='number' name="+defect+" value=0 id="+defectId+" onkeyup='annotate()'> <span class='tab'></span>";
			textr += "<input type='number' name="+rework+" value=0 id="+reworkId+" onkeyup='annotate()'> <span class='tab'></span>";
			while (j < description.length)
			{
				if (description[j] == '"' || description[j] == '[' || description[j] == ']')
				{
					j*= 1;
				}
				else if(description[j] == ',' || j == description.length)
				{
					textd += "<br>";
					textr += "<br>";
					break;
				}
				else
				{
					textd += description[j];
					textr += description[j];
				}
				j+=1;
			}
			j+=1;
			defect = "";
			rework = "";	
			rjctAndRwrkNumber+=1;
		}
		else
		{
			textd += "<label>"+d[i]+"</label>";
			textr += "<label>"+d[i]+"</label>";
			defect += d[i];
			rework += d[i];
		}
	}
	defectId = "defect"+rjctAndRwrkNumber.toString();
	reworkId = "rework"+rjctAndRwrkNumber.toString();
	defect += "d";
	rework += "r";
	textd += "<input type='number' name="+defect+" value=0 id="+defectId+" onkeyup='annotate()'> <span class='tab'></span>";
	textr += "<input type='number' name="+rework+" value=0 id="+reworkId+" onkeyup='annotate()'> <span class='tab'></span>";
	while (j < description.length)
	{
		if (description[j] == '"' || description[j] == '[' || description[j] == ']' || description[j] == ',' || description[j] == '')
		{
			j*= 1;
		}
		else
		{
			textd += description[j];
			textr += description[j];
		}
		j+=1
	}

	document.getElementById("Rwrk").innerHTML = textr;
	document.getElementById("Rjct").innerHTML = textd;
	function annotate(){
		for(let index=1;index<=rjctAndRwrkNumber;index++)
		{
			defectId = "defect"+index.toString();
			reworkId = "rework"+index.toString(); 
			rejectQuantity += parseInt(document.getElementById(defectId).value);
			reworkQuantity += parseInt(document.getElementById(reworkId).value);
			console.log(rejectQuantity,reworkQuantity);
		}
		document.getElementById("RejectedSample").value = rejectQuantity;
		document.getElementById("ReworkedSample").value = reworkQuantity;
		document.getElementById("OKFORLINE").value = document.getElementById("INSPECTEDVALUE").value - document.getElementById("RejectedSample").value;
		rejectQuantity = 0;
		reworkQuantity = 0;
	}
</script>
<script>
	const image_input = document.querySelector("#image_input");
	
	const output = document.querySelector("#display_image");
	let imageArray = {}; 
	var dictIndex = 0;
	image_input.addEventListener("change",function(e){
		const files = e.target.files;
		for(let i=0;i<files.length;i++)
		{
			const fileReader = new FileReader();
			fileReader.addEventListener("load",function(event){
				const file = event.target;
				imageArray[dictIndex] = file.result;
				dictIndex++;				
			})
			fileReader.readAsDataURL(files[i]);
		}
	})
	function uploadImages()
	{
		output.innerHTML = ` `;
		let imageHtml = `<div class = "image">`;
		for(let display=0;display<dictIndex;display++)
		{
			if (display in imageArray){
				imageHtml += `<img src="${imageArray[display]}"/>
						  <span onclick="deleteImage(${display})">&times;</span>`;
			}
			else{
				console.log("Index Not exists");
			}			
		}
		imageHtml += `<div>`;
		output.innerHTML = imageHtml;
	}
	function uploadedImages(){
		console.log(imageArray,Object.keys(imageArray).length);
	}
	function deleteImage(index)
	{
		let k = 0;
		let opRemove = document.querySelector("#display_image");
		let opRemoveTag = opRemove.getElementsByTagName("div");
		console.log(index,opRemove.length);
		if (Object.keys(imageArray).length <= 1 || opRemoveTag.length <= 1)
		{
			output.innerHTML = ` `;
			while(k<=dictIndex)
			{
				if (k in imageArray){
					console.log("Last Element");
					delete imageArray[k];
					k=0;
				}
				else{
					console.log("Not exists");
					k++;
				}
			}
			dictIndex = 0;
		}
		delete imageArray[index];
		uploadImages();		
	}
	function sendImage()
	{
		var jsonImg = JSON.stringify(imageArray);
        // Send the JSON string to the server-side using an AJAX request

		$.ajax({
			url: "/final",
			type: "POST",
			data: jsonImg,
			contentType: "application/json; charset=utf-8",
		});
	}

</script>
</html>