<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/style.css">
	<h1> TRIGO Global Quality Solutions </h1>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
	<form class="border" method="POST">
		<label> Operator </label><br>
		<label for="ContractNo"> Contract </label>
		<input type="text" id="ContractNo" name="Contract">
		<input type="number" id="Contract" name="ContractRev">
		<input type="number" id="WI" name="WIRev">
		<input type="Submit" value="ADD" formaction='/add'><br>
		<select class="list" id="no" size=2>
			{%for i in list%}
				<option>{{i}}</option>
			{%endfor%}
		</select>
		<input type="Submit" onclick="deleteContract()" value="DELETE"><br>
        <label for="PartNumber">Part Number:</label>
        <input type="text" id="PartNumber: " name="PartNo"><br>
        <label for="SerialNumber">Container Serial#: </label>
        <input type="text" id="SerialNumber" name="SerialNo">
        <label for="Quantity">Quantity: </label>
        <input type="number" id="Quantity" name="Qnty">
        <label for="Certification">Certified? </label>
        <input type="text" id="Certification" name="Crtfd">
	</form>
</body>
<script>
	var con=document.getElementById("no"),conSelectedValue;
	con.addEventListener("click",selectContract);
		
	function selectContract()
	{
		var x=document.getElementById("no").selectedIndex;
		const y=document.getElementsByTagName("option")[x].value;
		conSelectedValue=y;
	}
	function deleteContract()
	{
		console.log(conSelectedValue);
		$.ajax({
            type: "POST",
            url: "{{ url_for('delete') }}",
            data: {"name" : conSelectedValue},
        })
		alert("Contract Deleted");
	}
</script>
</html>